
#edit-modal-bg{
  background: url("./../assets/food-bg.jpg") no-repeat left bottom fixed ;
  background-size: cover;
}

#form-container{
  width: 100vw;
  max-width: 450px;

}

#form-header, #form-container{
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

textarea{
  width: 100%;
  min-height: 110px;
  border: 2px solid #0bb8da;
}

label{
  font-weight: 500;
}

input{
  border-bottom: 2px solid #0bb8da;
  border-top: none;
  border-right: none;
  border-left: none;
}

input: {
  background-color: white;
}
#edit-recipe{
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: currentcolor none medium;
  padding: 20px;
  left: auto;
  right: auto;
  margin: auto;
  width: 90vw;
  max-width: 1020px;
  border-radius: 9px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.override{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  background-color: #f7b8a1;
}

#options button{
  min-width: 83px;
}
